@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    /* margin: 0%; */
    /* box-sizing: border-box; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* intro section */
.intro-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background-color: #161616;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

.intro-text {
    color: azure;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 150px;


}

.btn {
    padding: 5px 10px;
    background-color: red;
    color: beige;
    border-radius: 5px;
    margin-top: 15px;
}

.btn:hover {
    background-color: yellowgreen;
    color: rgb(11, 11, 11);

}

.intro-img {
    margin-right: 0px;
}

/* nav blogs section */
.nav-blogs {
    display: flex;
}

.nav-main {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    padding: 10px 10px;

}

.button {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: aquamarine;
    margin-top: 15px;
}

.button-1 {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    margin: 15px;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 80px;
    margin-left: 20px;
}

.flag {
    display: flex;
    gap: 10px;
}

.team {
    display: flex;
    gap: 10px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*  section responsive*/
/* mobile view */
@media (max-width:670px) {
    .intro-main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .intro-img {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 20px;
    }

    .nav-blogs {
        display: flex;
        flex-direction: column;
    }

    .nav-main {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: 50px;
        background-color: rgb(250, 255, 255);
    }
}


/* tablet view */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .intro-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .nav-blogs {
        display: flex;
        flex-direction: column;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        margin-top: 50px;

    }

    .nav-main {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: rgb(255, 255, 255);
        width: 65%;
        position: absolute;
        margin-top: -30px;


    }

    .button {
        text-decoration: none;
        width: 200px;
        height: 44px;
        margin: 0%;
        padding: 0%;
        text-align: center;


    }

    .button-1 {
        text-decoration: none;
        width: 200px;
        height: 44px;
        margin: 0%;
        padding: 0%;
        text-align: center;

    }

}