@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    /* margin: 0%; */
    /* box-sizing: border-box; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* intro section */
.intro-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background-color: #161616;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

.intro-text {
    color: azure;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 150px;


}

.btn {
    padding: 5px 10px;
    background-color: red;
    color: beige;
    border-radius: 5px;
    margin-top: 15px;
}

.btn:hover {
    background-color: yellowgreen;
    color: rgb(11, 11, 11);

}

.intro-img {
    margin-right: 0px;
}

/* nav blogs section */

.nav-main {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    padding: 10px 10px;

}

.button {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: aquamarine;
    margin-top: 15px;
}

.button-1 {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    margin: 15px;
}

.nav-blogs {
    display: flex;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 150px;
    grid-column-gap: 10px;
    margin-left: 20px;
}

.blog {
    width: 250px;
    height: 150px;
}

.time-mess {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

/* .time {
    align-items: center;
} */
.image {
    width: 250px;
    height: 150px;
}

/* intro section responsive*/
@media (max-width:670px) {
    .intro-main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .intro-img {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}